html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.text {
  font-family: $secondary-font;
  font-size: 1.5rem;
  color:$text-color;
  font-style: italic;
  line-height: 1.5;
}
.text--light {
  font-weight: 300;
}
input,
button {
  outline: none;
  font-family: $primary-font;
  line-height: 1;

}
button{
  cursor: pointer;
}