section.service 
	.container 
		+blockHeader("We work with","Amazing service")
		.service-container
			.service-list 
				+serviceItem("fa fa-cog", "Photography", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis")
				+serviceItem("fa fa-cog", "Web design", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis")
				+serviceItem("fa fa-cog", "Creativity", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis")
			.service-list 
				+serviceItem("fa fa-cog", "SEO", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis")
				+serviceItem("fa fa-cog", "CSS/HTML", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis")
				+serviceItem("fa fa-cog","Digital","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur ")
				