section.story 
	.container  
		+blockHeader("Our stories", "latest blog")
		ul.story-list 
			+storyItem("../images/img-blog1.png","15","jan","Lorem ipsum dolor sit amet consectetur adipisicing elit.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vel, ipsum fuga optio temporibus facere ","542","17")
			+storyItem("../images/img-blog2.png","15","jan","Lorem ipsum dolor sit amet consectetur adipisicing elit.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vel, ipsum fuga optio temporibus facere ","542","17")
			+storyItem("../images/img-blog3.png","15","jan","Lorem ipsum dolor sit amet consectetur adipisicing elit.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vel, ipsum fuga optio temporibus facere ","542","17")

section.map 
	.container 
		.map-content 
			img.map-icon(src="../images/img-map-icon.png")
			h2.map-heading Open map
		