section.team 
	.container
		+blockHeader("Who we are", "MEET OUR TEAM","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.team-list 
			.team-item 
				.team-main 
					img(src="../images/img-team1.png").team-image
					.team-content
						ul.team-social 
							+teamSocialItem("fab fa-facebook-f")
							+teamSocialItem("fab fa-twitter")
							+teamSocialItem("fab fa-pinterest")
							+teamSocialItem("fab fa-instagram")
			
				.team-info 
					h3.team-name Christopher Cambell
					span.team-positon Branding/UX Team
			.team-item 
				.team-main 
					img(src="../images/img-team2.png").team-image
					.team-content
						ul.team-social 
							+teamSocialItem("fab fa-facebook-f")
							+teamSocialItem("fab fa-twitter")
							+teamSocialItem("fab fa-pinterest")
							+teamSocialItem("fab fa-instagram")
			
				.team-info 
					h3.team-name Christopher Cambell
					span.team-positon Branding/UX Team
			.team-item 
				.team-main 
					img(src="../images/img-team3.png").team-image
					.team-content
						ul.team-social 
							+teamSocialItem("fab fa-facebook-f")
							+teamSocialItem("fab fa-twitter")
							+teamSocialItem("fab fa-pinterest")
							+teamSocialItem("fab fa-instagram")
			
				.team-info 
					h3.team-name Christopher Cambell
					span.team-positon Branding/UX Team

section.brand 
	.container 
		img(src="../images/img-logos.png" alt="brand")



















			