section.work 
	.container 
		+blockHeader("What we do","Some of our work","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed quae ducimus necessitatibus fuga ut culpa laboriosam autem earum ab eos et dolorum amet ipsa facilis praesentium voluptatibus, cumque tempore aperiam. ")
	.work-list 
		.work-column
			+workItem("../images/img-work1.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" )
			+workItem("../images/img-work2.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" )
		.work-column
			+workItem("../images/img-work3.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" )
			+workItem("../images/img-work4.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" ) 
		.work-column
			+workItem("../images/img-work5.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur","work-item-full" )
		.work-column
			+workItem("../images/img-work6.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" )
			+workItem("../images/img-work7.png","fa fa-home","creatively designed","Lorem, ipsum dolor sit amet consectetur" )


		