.about {
 
  padding-bottom: 11rem;
  background-color: #fff;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
  @include hoverEffect(".about-item",".about-content");
    
  &-content {
   
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
  &-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    @include textClamp;
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-list {
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      row-gap: 2.5rem;
      overflow-x: auto;
      @include hideScroll;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
